body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.gallery {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 1128px;
    gap: 24px;
}

.gallery li {
    list-style-type: none;
}

.gallery img {
    display: block;
    width: 360px;
    height: 300px;
}